.blog-post-wrap {
	.heateor_sss_sharing_container {
		margin-top: 20px;
	}
	.recent-posts-title {
		text-align: center;
		text-transform: uppercase;
		margin: 30px 0 20px;
	}
	.recent-posts-list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		.recent-posts-item {
			width: 31%;
			position: relative;
			.recent-posts-img-wrap {
				width: 100%;
				height: 15vw;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			a {
				display: block;
				text-align: center;
				color: $black;
				text-decoration: none;
				font-weight: 600;
			}
		}
	}
	padding: 60px 0;
	.blog-post-title {
		text-align: center;
		margin: 30px 0 20px;
	}
	.blog-post-date {
		font-weight: 600;
		font-size: 20px;
	}
	.blog-post-img {
		height: 25vw;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
.main-page-blog {
	margin-top: 40px;
	.vc_grid-container-wrapper {
		.vc_grid-item-mini {
			.vc_gitem-link:hover {
				opacity: 0.7;
			}
			.vc_gitem-zone-mini {
				.vc_btn3-container {
					a.vc_general {
						color: $black !important;
						background-color: transparent !important;
						font-weight: 600 !important;
						padding: 20px 25px;
						text-decoration: none !important;
						transition: all .5s !important;
						position: relative !important;
						border: none !important;
						z-index: 1;
						&:before {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							background-color: $accent-color !important;
							-webkit-transform: skew(-20deg);
							-ms-transform: skew(-20deg);
							transform: skew(-20deg);
							z-index: -1;
							transition: all .5s;
						}
						&:hover {
							color: $accent-color !important;
							transition: all .5s;
							&:hover:before {
								transform: skew(0deg);
								background-color: $black !important;
							}
						}
					}
				}
				.vc_custom_heading {
					h4 {
						// text-align: center !important;
						font-size: 24px;
						font-weight: 600;
						color: #202020;
					}
					p {
						color: #1f1f1f;
						font-size: 15px;
					}
				}
			}
		}
	}
}
.main-page-blog_title {
	margin-bottom: 28px;
	font-weight: 800;
}
