@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 992px) {
  #header {
    .header_nav {
      .header_nav_list {
        display: none;
        position: absolute;
        top: 58px;
        right: 0;
        background-color: $white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        z-index: 9;
        li {
          text-align: left;
          padding: 10px;
          border-bottom: 1px solid #F0F0F0;
          a {
            padding: 0 15px;
          }
        }
      }
    }
    .header_nav_aside {
      .desctop-phone {
        display: none;
      }
      .mobile-phone {
        display: block;
      }
    }
    .hamburger {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer_nav_wrapper {
      .footer_nav_title {
        margin-top: 30px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {

}