@media screen and (max-width: 1200px) {
  .main_banner_slider .item.slide3 .img-girls {
    right: -22%;
  }
  .main_banner_slider .bg-text h1 {
    font-size: 58px;
  }
  .main_banner_slider .bg-text h2 {
    font-size: 34px;
  }
  .main_banner_slider .item.slide2 img {
    left: -190px;
  }
  .woocommerce a.button.alt,
  .woocommerce .cart .actions .button {
    padding: 20px 10px !important;
  }
  .instagram-phone {
    margin-top: 70px;
  }
  .footer_subscription {
    .footer_subscription_form {
      .wpcf7-form {
        .your-email {
          input {
            width: 55%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main_banner_slider .item.slide3 .img-girls {
    top: 24%;
  }
  .main_banner_slider .item p {
    font-size: 20px;
  }
  .main_banner_slider .item.slide1 img {
    right: -90px;
    bottom: -50px;
  }
  .main_banner_slider .item.slide2 h1 {
    font-size: 58px;
  }
  .main_banner_slider .bg-text h2 {
    font-size: 34px;
  }
  .login-wrapper {
    .tml-login {
      width: 80%;
    }
  }
  .woocommerce .woocommerce-cart-form,
  .woocommerce .cart-collaterals {
    float: none;
    width: 100%;
  }
  .footer_subscription {
    .footer_subscription_form {
      .wpcf7-form {
        .wpcf7-submit {
          width: 100%;
        }
        .your-email {
          input {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  #header {
    .header_nav {
      .header_nav_list {
        display: none;
        position: absolute;
        top: 58px;
        right: 0;
        background-color: $white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        z-index: 9;
        li {
          text-align: left;
          padding: 10px;
          border-bottom: 1px solid #F0F0F0;
          a {
            padding: 0 15px;
          }
        }
      }
    }
    .header_nav_aside {
      .desctop-phone {
        display: none;
      }
      .mobile-phone {
        display: block;
      }
    }
    .hamburger {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-welcome-bg .wpb_column .vc_column-inner .wpb_wrapper p {
    margin-bottom: 30px;
  }
  .main_banner_slider .item.slide3 .img-girls {
    display: none;
  }
  .main_banner_slider .item.slide1 img {
    bottom: -62px;
  }
  .main_banner_slider .item.slide2 img {
    top: 36px;
  }
  .woocommerce {
    .woocommerce-MyAccount-navigation {
      ul {
        flex-direction: column;
      }
    }
    .woocommerce-MyAccount-content {
      .u-columns {
        flex-direction: column;
        .u-column1, .u-column2 {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .woocommerce-customer-details {
      .woocommerce-columns {
        flex-direction: column;
        .woocommerce-column {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .blog-post-wrap {
    .blog-post-img {
      height: 50vw;
    }
  }
  .login-wrapper {
    .tml-login {
      width: 100%;
    }
  }
  .woocommerce table.cart .product-thumbnail {
    display: block;
  }
  .woocommerce #coupon_code {
    width: 90%;
    margin-bottom: 30px;
  }
  .woocommerce table.cart td.actions .coupon .button {
    width: 100%;
  }
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
  }
  .woocommerce table.woocommerce-cart-form__contents tr td::before {
    content: '';
  }
  .woocommerce table.woocommerce-cart-form__contents tr td {
    text-align: center !important;
  }
  .woocommerce .wc-proceed-to-checkout {
    text-align: center;
    .button{
      width: 90%;
      text-align: center;
    }
  }
  .woocommerce table.shop_table td {
    border: none;
  }
  .woocommerce table.shop_table_responsive .woocommerce-cart-form__cart-item {
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 30px;
  }
  .woocommerce table.shop_table_responsive .woocommerce-cart-form__cart-item .product-remove {
    position: absolute;
    bottom: 10px;
    width: 100%;
    .remove {
      margin: 0 auto;
      &:before {
        left: -5px;
      }
    }
  }
  .woocommerce ul.products[class*="columns-"] li.product {
    width: 100%;
  }
  .footer {
    .footer_subscription {
      .footer_subscription_form {
        .wpcf7-form {
          .wrap-bg {
            padding: 12px 0 12px 1px;
          }
          .your-email {
            input {
              margin-top: 30px;
              padding: 0 15px;
            }
          }
        }
      }
    }
    .footer_nav_wrapper {
      .footer_nav_title {
        margin-top: 30px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header_wrap {
    padding: 0 5px;
  }
  .blog-post-wrap {
    .recent-posts-list {
      flex-direction: column;
      .recent-posts-item {
        width: 100%;
        margin-bottom: 30px;
        .recent-posts-img-wrap {
          height: 50vw;
        }
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .woocommerce #coupon_code {
    width: 84%;
  }
  .login-wrapper {
    .tml-login {
      .tml-links {
        li {
          display: block;
          margin: 25px 0 45px 0;
        }
      }
    }
  }
}

/***From old for main page slider***/
.main_banner .main-banner-modile {
  display: none;
}
.main_banner .main-banner-button-mobile {
  display: none;
}
@media (max-width: 767px) {
  .partnership-top-btn-wrap {
    text-align: center;
  }
  .part-top-main-pic {
    text-align: center !important;
  }
  .main_banner .main_banner_slider {
    width: 100vw;
    height: 70vh;
  }
  .main_banner .main_banner_slider .container {
    width: 100%;
  }
  .main_banner .main_banner_slider .btn {
    display: none;
  }
  .main_banner .main_banner_slider .slide1 .slider-content {
    margin-top: 50px;
    left: 4%;
    z-index: 99;
    padding-left: 3%;
  }
  .main_banner .main_banner_slider .slide1 .slider-content .bg-text {
    padding: 7px 12px 0px 13px;
  }
  .main_banner .main_banner_slider .slide1 .slider-content .bg-text h1 {
    font-size: 34px;
  }
  .main_banner .main_banner_slider .slide1 .slider-content .bg-text h2 {
    font-size: 28px;
  }
  .main_banner .main_banner_slider .slide1 .slider-content p.parallax-text {
    font-size: 14px;
    line-height: 19px;
    top: 100%;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
    width: 40%;
    top: 40%;
    margin-left: 3%;
  }
  .main_banner .main_banner_slider .slide1 img.parallax-img {
    height: 100%;
    margin-right: 8px;
  }
  .main_banner .main_banner_slider .slide2 .slider-content {
    margin-top: 30px;
    z-index: 99;
  }
  .main_banner .main_banner_slider .slide2 .slider-content .bg-text {
    padding: 7px 12px 0px 13px;
    margin-left: 30%;
  }
  .main_banner .main_banner_slider .slide2 .slider-content .bg-text h1 {
    font-size: 34px;
  }
  .main_banner .main_banner_slider .slide2 .slider-content .bg-text h2 {
    font-size: 28px;
  }
  .main_banner .main_banner_slider .slide2 .slider-content p.parallax-text-right {
    font-size: 10px;
    line-height: 19px;
    top: 100%;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
    width: 60%;
    top: 48%;
  }
  .main_banner .main_banner_slider .slide2 img {
    height: 100%;
    left: -25%;
  }
  .main_banner .main_banner_slider .slide3 .slider-content {
    margin-top: 100px;
    left: 18%;
    z-index: 99;
  }
  .main_banner .main_banner_slider .slide3 .slider-content .bg-text {
    padding: 4px 12px 4px 1px;
  }
  .main_banner .main_banner_slider .slide3 .slider-content .bg-text h1 {
    font-size: 34px;
  }
  .main_banner .main_banner_slider .slide3 .slider-content .parallax-text-left {
    font-size: 16px;
    line-height: 19px;
    top: 100%;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
  }
  .main_banner .main_banner_slider .slide3 .img-girls {
    height: 96%;
    margin-right: -30px;
  }
  .main_banner .main_banner_slider .slide3 .img-girl {
    height: 95%;
    top: -19%;
    left: 11%;
  }
  .main_banner .main-banner-button-mobile {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .main_banner .main-banner-button-mobile .btn {
    display: inline-block;
  }
  .main_banner .main-banner-button-mobile .btn-red {
    color: #fff;
  }
  .main_banner .main-banner-button-mobile .btn-red:before {
    background-color: #f06;
    border: 2px solid #f06;
  }
}